<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-a">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-a`
     * componente padre A
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteA extends Polymer.Element {
      static get is() { return 'componente-a'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-a'
          }
        };
      }
    }

    window.customElements.define(ComponenteA.is, ComponenteA);
  </script>
</dom-module>
