<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../componente-b/componente-b.html">
<link rel="import" href="../componente-c/componente-c.html">

<dom-module id="componente-a">
  <template>
    <style>
      :host {
        display: block;
      }
      .blue{
        background-color: #00F;
      }
      .green{
        background-color: #0F0;
      }
      main,h2,nav,p{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <header>
      <h2>[[title]]</h2>
      <p>[[descipcion]]</p>
      <template is="dom-if" if="[[navVisible]]">
        <nav>
          <paper-button raised class="blue" on-click="_setVisibleB">button 1</paper-button>
          <paper-button raised class="green" on-click="_setVisibleC">button 2</paper-button>
        </nav>
      </template>
    </header>
    <main>
      <template is="dom-if" if="[[buttonBVisible]]">
        <componente-b>
        </componente-b>
      </template>
      <template is="dom-if" if="[[buttonCVisible]]">
        <componente-c>
        </componente-c>
      </template>
    </main>
  </template>

  <script>
    /**
     * `componente-a`
     * componente padre A
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteA extends Polymer.Element {
      static get is() { return 'componente-a'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Componente Padre'
          },
          descipcion: {
            type: String,
            value: 'Ejemplo austero de tabs'
          },
          buttonBVisible:{
            type:Boolean,
            value:false
          },
          buttonCVisible:{
            type:Boolean,
            value:false
          },
          navVisible:{
            type:Boolean,
            value:true
          }
        };
      }
      _setVisibleB(){
        this.buttonBVisible = true
        this.buttonCVisible = false
        this.navVisible = false
      }
      _setVisibleC(){
        this.buttonBVisible = false
        this.buttonCVisible = true
        this.navVisible = false
      }
    }

    window.customElements.define(ComponenteA.is, ComponenteA);
  </script>
</dom-module>
